body
{
    background-image: url( http://munsellb.people.cofc.edu/csci215/l01/imgs/background.jpg );
}

#container
{
    width: 871px;
    margin: auto;
    padding-top: 20px;
}

#header
{
    font-family: sans-serif;
    color: #fff;
    background-image:url(http://munsellb.people.cofc.edu/csci215/l01/imgs/header.png);
    width: 100%;
    height: 229px;
}

.headerText
{
    padding-top: 192px;
    color: white;
    text-align: center;
    padding-right: 10px;
    font-family: sans-serif;
    font-size: 14px;
}

#nav
{
    height: 40px;
    width: 100%;
    margin-top: 20px;
    background-color: white;
    text-align: center;
    color: #777;
}

ul
{
    list-style-type:none;
    margin:0;
    padding: 12px 0px 0px 0px;
}

li
{
    display: inline;
    padding-right: 20px;
}

#content
{
    background-color: black;
    height: 520px;
    width: 100%;
    margin-top: 20px;
}

#coffeecup
{
    background-image: url( http://munsellb.people.cofc.edu/csci215/l01/imgs/coffeeCup.jpg );
    width: 100%;
    height: 272px;
}

#desc
{
    background-color: #C5B358;
    width: 851px;
    height: 90px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    color: #403E3E;
}

#info
{
    background-color: black;
}

#menu
{
    background-image: url( http://munsellb.people.cofc.edu/csci215/l01/imgs/ourMenu.png );
    background-repeat: no-repeat;
    width: 371px;
    height: 76px;
    margin-top: 30px;
    margin-left: 20px;
    float: left;
}

#address
{
    float: right;
    text-align: right;
    color: #C5B358;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 40px;
    margin-right: 20px;
}